h2{
  font-size: 1rem;
}

label{
  display: block;
}
.jumbotron{
  background-color: lightgreen;
  padding: 10px;
  margin-top: 3%;
}

.wrapper{
  width: 60%;
  margin: auto;
}

.form-wrapper{
  background-color: tan;
  padding: 10px;
  margin-bottom: 3%;
}

.doctor-result{
  margin: auto;
  background-color: tan;
}
